body {
    background: rgb(71, 73, 71);
    color: #fff;
    font-family: arial;
    line-height: 1.4em;
    text-align: center;
    padding-top: 10%;
    
  }
.alempi {
padding-top: 3%;


}