body {
  padding: 150px;
  text-align: center;
  background-color: rgb(122, 122, 122);
}
.kenttaalue {
  padding: 50px;
}
.teksti {
  min-block-size: 100px;
  font-size: 20px;
  color: rgb(138, 221, 43);
}
.moroz {
  font-size: xx-large;
}
